.curriculum{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curriculum ul{
    max-width: 950px;
    column-count: 2;
    column-gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 20px;;

}

.curriculum li {
    display: flex;
    justify-content: space-between;
    /* margin-top: 1rem; */
    margin: 0;
    margin-bottom: 1.5rem;
    align-items: center;
}

.curriculum span img{
    width: 3rem;
    margin-right: 1rem;
}
